

<h2>Revisões em Curso</h2>

<% IF current %>
<ul>
  <% FOREACH rev IN current %>
    <li><% rev.titulo %> (<i><% rev.user %></i>)</li>
       [ <a href="<% request.uri_base %>/review/<% rev.id %>">Rever anotação</a> |
       <a href="#">Anotar de novo</a>]
  <% END %>
</ul>
<% END %>